<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="org.ethereumhpone.messenger.permission.SEND_MESSAGE_AS_USER" />

    <application>
        <receiver
            android:name="org.ethereumhpone.messengersdk.XmtpNewMessageReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="org.ethereumhpone.messenger.action.NEW_XMTP_MESSAGES" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
